section {
  background:white;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

body {
    font-family: 'Segoe UI', sans-serif;
}

main {
    max-width: 800px;
    margin: auto;
}

section:hover {
    transform: scale(1.01);
    transition: 0.2s;
}
